.base {
    @include highlighted-block(var(--code-paterrn-url), center top);
    display: flex;
    flex-direction: column;
}

.scrollbarView {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.75em;
    @include mobile {
        overflow: hidden !important;
        position: relative !important;
    }
}

.title {
    @include title;
    padding: 0.75em 1em 0.5em;
    padding-right: 3.25em;
}

.base .undoButton {
    position: absolute;
    right: 1em;
    top: 0.5625em;
    padding: 0.5em 0.625em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.undoIcon {
    height: 1em;
    width: 1em;
}

.move {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 2.375em;
    padding: 0.5em 3.5em 0.125em 1.25em;
    flex-shrink: 0;
    z-index: 0;

    &::before,
    &::after {
        pointer-events: none;
        position: absolute;
        background-color: var(--page-title-color);
        left: 0.875em;
    }
    &__positionStart::before {
        content: '';
        bottom: 0;
        height: 0.125em;
        width: 4em;
    }
    &__positionContinue::after {
        content: '';
        top: 0;
        bottom: 0;
        width: 0.125em;
    }
    &__positionEnd::after {
        content: '';
        top: 0;
        bottom: 0.75em;
        width: 0.125em;
    }
}

.moveBackground {
    @include full-size;
    opacity: 0.6;
    z-index: -1;
    pointer-events: none;

    .move__count1 & {
        background-color: var(--moves-chart-color-1);
    }
    .move__count5 & {
        background-color: var(--moves-chart-color-2);
    }
}

.moveGlyph {
    position: absolute;
    right: 0.85em;
    top: 0.5em;
}

.moveNewPosition {
    margin-top: auto;
    font-size: 0.875rem;
    line-height: 1.5;
    opacity: 0.75;
}

.moveNewPositionHighlight {
    color: var(--page-title-color);
    font-weight: 700;
    font-style: italic;
}
