.base {
    @include highlighted-block(var(--code-paterrn-url), center top);
    padding: 0.75em 1em;
    padding-right: 3.875em;
    position: relative;
    z-index: 2;
}

.title {
    @include title;
}

.combinationName {
    word-wrap: break-word;
    font-style: italic;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25;
}

.menu {
    @include highlighted-block(var(--code-paterrn-url), center top);
    position: absolute;
    right: 0.5em;
    bottom: 0.125em;
    transform: translateY(100%);
    width: 12em;
    z-index: 1;
    height: 19.375em;
}

.openListScrollbarView {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.menuButton {
    text-align: left;
    padding: 0.5em 1em;

    &:not(:last-child) {
        margin-bottom: 0.625em;
    }
}

.base .openMenuButton {
    position: absolute;
    right: 1em;
    bottom: 0.75em;
    padding: 0.5em 0.625em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menuIcon {
    height: 1em;
    width: 1em;
}
