.base {
    display: flex;
    flex-direction: row;
    padding: 2em 0.5em;
    gap: 1em;
    @include mobile {
        flex-direction: column;
        padding-bottom: 0.5em;
    }
}

.right,
.left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 0;

    @include desktop {
        flex: 0 1 50%;
    }
}

.availableMovesMix,
.combinationMovesMix {
    @include desktop {
        flex: 1;
    }
}
