.base {
    @include highlighted-block(var(--code-paterrn-url), center bottom);

    &::part(root) {
        font-family: $font-family-primary;
        --wc-background-color: transparent;
        --wc-text-color: var(--primary-text-color);
        --wc-nickname-text-color: var(--page-title-color);
        --wc-selection-background-color: var(--selection-background-color);
        --wc-selection-text-color: var(--selection-text-color);
        @include mobile {
            flex-direction: column;
            padding: 0.5em;
            font-size: 0.75rem;
        }
    }

    &::part(link),
    &::part(link_icon) {
        transition-duration: 0.15s;
        transition-timing-function: ease-out;

        &:hover {
            transition-duration: 0s;
        }
    }
    &::part(column__left) {
        @media ((min-width: 769px) and (max-width: 1200px)) {
            width: 8.25em;
        }
        @include mobile {
            order: 3;
            justify-content: center;
            margin: 0;
        }
    }
    &::part(column__left link) {
        @include mobile {
            margin-bottom: 1.5em;
        }
    }
    &::part(column__right) {
        @media ((min-width: 769px) and (max-width: 1200px)) {
            flex-direction: column;
        }
        @include mobile {
            order: 2;
            justify-content: center;
            margin: 0;
            margin-bottom: 0.5em;
        }
    }
    &::part(footer_signature-outer) {
        @media (max-width: 1200px) {
            max-width: 12em;
            margin: auto;
        }
        @include mobile {
            order: 1;
            margin-bottom: 0.5em;
        }
    }
    &::part(link) {
        @include mobile {
            margin-bottom: 0.5em;
        }
    }
}
